<div class="row-fluid">
    <div class="span12">
      <h2>Help</h2>
      <h3>Table of Contents</h3>
      <div id="help-contents">
        <a href="#/help#getting_started">Getting Started</a>
        <ul>
          <li><a href="#/help#getting_started_survey">Part I: The Survey</a></li>
          <li><a href="#/help#getting_started_dashboard">Part II: The Dashboard</a></li>
        </ul>
        <a href="#/help#contact">Contact Us</a>
      </div>
    </div>
</div>

<div class="row-fluid">
    <div class="well help-well" id="getting_started">
      <h4>Getting Started With Alaska Logbook</h4>
      
      <h5 id="getting_started_survey">Part I: The Survey</h5>
      <h6>1. Register</h5>
        <p>Registration is currently closed. For now, we can create an account for you. If this hasn’t happened already, request an account by emailing aklogbook@ecotrust.org.<br/>
        If we have already created an account for you, be sure that you change your password on our <a href="http://aklogbook.ecotrust.org/accounts/password/reset/">Password Reset Page</a>. For the single field “Email,” enter the email address with which your account is associated.</p>
      <h6>2. Log in With Your Mobile Device</h6>
        <p>While connected to the Internet, navigate your mobile device to <a href="http://aklogbook.ecotrust.org">aklogbook.ecotrust.org</a>. Click on the “Log In” button. <br/>
        Your username is your first and last names all as one word in lower-case letters (“Jane Doe” would be “janedoe”), and your password is the one you created during registration.</p>
      <h6>3. Select Your Device Type</h6>
        <p>Select your device’s operating system type from the options on the screen.<br/>
        Selecting ‘Android’ offers you two choices. Select ‘Web App.’ You can ignore ODK Collect for now.<br/>
        A ‘web app’ is similar to other apps you would install from an app store, except that it runs inside of a browser (like Safari or Chrome). Adding such an app to your Home Screen will allow you to use it just like any other app.</p>
      <h6>4. Save the Survey to Your Device</h6>
        <p>To enable offline use of the survey, you need to save the survey to your device. This process may be known to you as “Add to Home Screen”. Depending on your device and browser the steps may be different:<br/>
        <b>iOS</b> - Click on the “Action Icon” and choose “Add to Home Screen” from your menu.<br/>
        <b>Android</b> - Bookmark (‘Star’) the survey page, open your bookmarks and long-press to get the menu to “Add to home screen”.</p>
      <h6>5. Take the Survey</h6>
        <p>Now your device is ready for the field. Go out, select the survey from your Home Screen, and fill in the relevant fields, then click on the “Submit” button at the bottom.</p>
      <h6>6. Upload Your Data</h6>
        <p>Once you’re able to connect to the Internet, open the survey from your Home Screen again. At the top you may see a number printed next to a small blue icon of Alaska. That is the number of surveys stored and ready to upload. They will upload automatically so long as the survey is open. This may take some time, depending on your device, the survey answers, and the Internet connection.</p>

      <h5 id="getting_started_dashboard">Part II: The Dashboard</h5>
      <h6>1. Log in With a Desktop Computer</h6>
        <p>Go to <a href="http://aklogbook.ecotrust.org">aklogbook.ecotrust.org</a> and log in with your username and password.</p>
      <h6>2. Review Your Data</h6>
        <p>Click on the FRP & AWC Nominations button. If you have surveys uploaded, you should see at least one permit number listed. By clicking on each permit number, you will see observations listed in the table to the right, with their locations marked on the map below. Detailed lists of answers given can be seen by clicking that observation’s “View” button.</p>
      <h6>3. Edit Your Data</h6>
        <p>If your data are incomplete or incorrect, or if the observation is marked as needing edits (indicated by an “i” icon next to the “Edit” button) you can click on the “Edit” button. This will take you directly into the survey form. Here you can change the existing answers, or provide new ones. If the data no longer need edits, then simply change the last question “This observation needs further editing prior to submission” to “FALSE” and hit “Submit” to make you edits permanent.</p>
      <h6>4. Generate Reports</h6>
        <p>After selecting the Permit Number you want to report on, choose the report type you want to generate from the top bar.<br/>
        <b>FRP Form</b> - Enter the date that the Area Biologist was contacted for this submission, then click the “Download” button. A download of the .xls should begin. After saving the form to your computer, click the “Done” button to close the export window.<br/>
        <b>AWC Nomination</b> - Choose your submission type (‘Addition’, ‘Deletion’, ‘Correction’, or ‘Backup’) and select the observations that you’d like included in the nomination holding “ctrl” down while clicking to submit multiple observations. Click on “Download” and your download should begin through your browser. Review the downloaded .pdf and if happy, close the export window with the “Done” button.</p>
      <h6>5. Logout</h6>
        <p>When done, click on “Logout” in the top right corner in the top bar.</p>
    </div>

    <div class="well help-well" id="contact">
      <h4>Contact Us</h4>
      <p>Don’t hesitate to send an email to <a href="mailto:aklogbook@ecotrust.org">aklogbook@ecotrust.org</a>. This tool is still in alpha phase and it is likely that issues will arise. We welcome and encourage reporting specific incidents, thoughts, feelings, and questions to this address.</p>
    </div>

</div>
