<div class="row-fluid">
  <div class="span4">
  </div>
  <div class="span4">
    <h2 align="center">Alaska Log Book</h2>
  </div>
  <div class="span4">
  </div>
</div>

<!-- 
  CAROUSEL CODE RIPPED OFF SHAMELESSLY FROM 
      http://webdesign.tutsplus.com/tutorials/htmlcss-tutorials/twitter-bootstrap-101-the-carousel/
-->

<!--  Carousel - consult the Twitter Bootstrap docs at
      http://twitter.github.com/bootstrap/javascript.html#carousel -->

<div id="main-carousel" class="carousel slide">
  <div class="carousel-inner">
    <div class="item">
      <img src="/images/ak-landscape/alaska-kalasoft_alt.jpg" alt="" />
    </div>
    <div class="item">
      <img src="/images/ak-landscape/alaska-tpsdave.jpg" alt="" />
    </div>
    <div class="item">
      <img src="/images/ak-landscape/alaska-tpsdave_ice.jpg" alt="" />
    </div>
    <div class="item">
      <img src="/images/ak-landscape/alaska-tpsdave_valley_alt.jpg" alt="" />
    </div>
  </div><!-- /.carousel-inner -->
  <!--  Next and Previous controls below
        href values must reference the id for this carousel -->
  <!--
    <a class="carousel-control left" href="#main-carousel" data-slide="prev">&lsaquo;</a>
    <a class="carousel-control right" href="#main-carousel" data-slide="next">&rsaquo;</a>
  -->
</div><!-- /.carousel -->

<h4> Permit Numbers </h4>
<!--
<ul class="unstyled">
  <li ng-repeat="val in uniqueStuff('obs_nm')"><a ng-href="#/permit/{{val}}"ng-bind="val"></p></li>
</ul>
-->

<div class="dropdown clearfix">
  <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu" 
      style="display: block; position: static; margin-bottom: 5px; width: 280px;">
      <!--
    <li><a tabindex="-1" href="#">Regular link</a></li>
    <li class="disabled"><a tabindex="-1" href="#">Disabled link</a></li>
    <li><a tabindex="-1" href="#">Another link</a></li>
  -->
    <li ng-repeat="val in uniqueStuff('obs_nm')"><a ng-href="#/permit/{{val}}"ng-bind="val"></p></li>
  </ul>
</div>