<div class="row-fluid">
  <div class="span4">
  </div>
  <div class="span4">
    <h2 align="center">Alaska Log Book</h2>
  </div>
  <div class="span4">
  </div>
</div>

<h4> Permit Numbers </h4>

<div class="dropdown clearfix">
  <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu" 
      style="display: block; position: static; margin-bottom: 5px; width: 280px;">
    <li ng-repeat="val in permitInfo('general/perm_num')">
      <a ng-href="#/permit/{{val}}"ng-bind="val"></p>
    </li>
  </ul>
</div>

<!--  Carousel - consult the Twitter Bootstrap docs at
      http://twitter.github.com/bootstrap/javascript.html#carousel -->
<!--
<div id="main-carousel" class="carousel slide">
  <div class="carousel-inner">
    <div class="item">
      <img src="images/ak-landscape/alaska-kalasoft_alt.jpg" alt="" />
    </div>
    <div class="item">
      <img src="images/ak-landscape/alaska-tpsdave.jpg" alt="" />
    </div>
    <div class="item">
      <img src="images/ak-landscape/alaska-tpsdave_ice.jpg" alt="" />
    </div>
    <div class="item">
      <img src="images/ak-landscape/alaska-tpsdave_valley_alt.jpg" alt="" />
    </div>
  </div>
</div>
-->

