<div class="navbar">
  <div class="navbar-inner">
    <ul class="nav">
        <li><a href="#/"><i class="icon-chevron-left"></i>Back to Permit List</a></li>
        <li class="divider"></li>
        <li>
            <a data-toggle="modal" href="#exportFRPModal">
                Export FRP Form
            </a>
        </li>
        <li>
            <a data-toggle="modal" href="#exportAWCModal">
                AWC Nomination
            </a>
        </li>
    </ul>
  </div>
</div>
<div class="row-fluid">
    <div class="span5">
        <h4>Permit <span class="text-info" ng-bind="permitId"></span> Details</h4>
        <table class="table table-bordered table-hover">
            <tbody>
                <tr>
                    <td>FRP Number</td>
                    <td ng-bind="permit_attrs['general/perm_num']"></td>
                </tr>
                <tr>
                    <td>Observer</td>
                    <td ng-bind="permit_attrs['general/obs_nm']"></td>
                </tr>
                <tr>
                    <td>Date</td>
                    <td ng-bind="permit_attrs['general/obs_date']"></td>
                </tr>
                <tr>
                    <td>Location ID</td>
                    <td ng-bind="permit_attrs['frp/loc_id']"></td>
                </tr>
                <tr>
                    <td>Water Body</td>
                    <td ng-bind="permit_attrs['general/wtr_nm']"></td>
                </tr>
                <tr>
                    <td>Target Species</td>
                    <td ng-bind="permit_attrs['general/sps_name']"></td>
                </tr>
            </tbody>
        </table>
        <div class="row-fluid">
            <div class="span12">
                <p ng-bind="obs"></p>
            </div>
        </div>
    </div>
    <div class="span7">
        <div class="row-fluid">
            <div class="span12">
                <h4>Observations for Permit <span class="text-info" ng-bind="permitId"></span></h4>

                <!-- 
                    replace photo checkbox with button to view photo if photo exists, otherwise read 'None' 
                -->

                <table class="table table-bordered table-hover">
                    <thead>
                      <tr>
                        <th>Sample ID</th>
                        <th>Waterbody Name</th>
                        <th>Fish Species</th>
                        <th>Life Stage</th>
                        <th>Length(mm)</th>
                        <th>Weight(g)</th>
                        <th>Photos</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr ng-click="selectObs(obs._id)" ng-repeat="obs in observations">
                        <td ng-bind="obs._id"></td>
                        <td ng-bind="obs['general/wtr_nm']"></td>
                        <td ng-bind="obs['general/sps_name']"></td>
                        <td ng-bind="obs['frp/Lf_stg']"></td>
                        <td ng-bind="obs['frp/lngth']"></td>
                        <td ng-bind="obs['frp/wt']"></td>
                        <td><input type="checkbox" ng-checked="obs['general/pics']"/></td>
                      </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row-fluid">
            <div class="span12">
                <leaflet height="500px" width="98%" tiles="tiles" markers="markers" center="center"></leaflet>
            </div>
        </div>
    </div>
</div>

    <div class="modal fade" id="exportFRPModal" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">Export FRP Form (.xls)</h4>
          </div>
          <div class="modal-body">
            <form name="login_form" ng-submit="frpSubmit()" class="form-horizontal">
                <div class="control-group">
                    <label class="control-label" for="biologistContactDate">Date Biologist contacted</label>
                    <div class="controls">
                      <input type="date" id="biologistContactDate" ng-model="frpExport.biologistContactDate" required>
                    </div>
                </div>
                <div class="pull-right">
                    <button class="btn btn-primary" type="submit">
                        <i class="icon-download icon-white"></i>Download
                    </button>
                    <button class="btn" data-dismiss="modal">
                        Done
                    </button>
                </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="exportAWCModal" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">Export AWC Nomination Form (.pdf)</h4>
          </div>
          <div class="modal-body">
            <form name="login_form" ng-submit="awcSubmit()" class="form-horizontal">
                <div class="control-group">
                    <label class="control-label" for="submissionType">Submission Type</label>
                    <div class="controls">
                      <select id="submissionType" ng-model="awcExport.submissionType">
                          <option value="addition" selected>Addition</option>
                          <option value="deletion">Deletion</option>
                          <option value="correction">Correction</option>
                          <option value="backup">Backup</option>
                        </select>
                    </div>
                </div>
                <div class="pull-right">
                    <button class="btn btn-primary" type="submit">
                        <i class="icon-download icon-white"></i>Download
                    </button>
                    <button class="btn" data-dismiss="modal">
                        Done
                    </button>
                </div>
            </form>
          </div>
        </div>
      </div>
    </div>
