server {
    server_name *.enketo.aklogbook.ecotrust.org enketo.aklogbook.ecotrust.org;  # TODO puppet template variable
    access_log /var/log/nginx/enketo.access.log;
    error_log /var/log/nginx/enketo.error.log;

    listen   80;

    root /usr/local/apps/enketo/public;

    index index.html index.php;

    # set expiration of assets to MAX for caching
    location ~* \.(ico|css|js|gif|jpe?g|png)(\?[0-9]+)?$ {
        expires max;
        log_not_found off;
    }

    location / {
        try_files $uri $uri/ /index.php;
    }

    location ~* \.php$ {
        fastcgi_pass 127.0.0.1:9000;
        include fastcgi_params;
        fastcgi_param SERVER_NAME $host;
    }

}

server {
    client_max_body_size 20M;
    server_name aklogbook.ecotrust.org _;  # TODO puppet template variable
    access_log /var/log/nginx/aklogbook.access.log;
    error_log /var/log/nginx/aklogbook.error.log;

    listen   80 default_server;

    location /app/sessions/auth.js {
        uwsgi_pass unix:///var/run/uwsgi/app/aklogbook/socket;
        include uwsgi_params;
    }

    location /app/ {
        alias /usr/local/apps/aklogbook/angular_example/app/;
        sendfile off;
        expires off;
    }

    location / {
        uwsgi_pass unix:///var/run/uwsgi/app/aklogbook/socket;
        include uwsgi_params;
    }

    location /static/  {
        alias /usr/local/apps/formhub/static/;
    }

    location /munin/static/ {
        alias /etc/munin/static/;
        expires modified +1w;
    }

    location /munin/ {
        auth_basic            "Restricted";
        # Create the htpasswd file with the htpasswd tool or leave commented out for no pwd
        # auth_basic_user_file  /etc/nginx/htpasswd;

        alias /var/cache/munin/www/;
        expires modified +310s;
    }
}
