$iconSpritePath: "../images/glyphicons-halflings.png";
$iconWhiteSpritePath: "../images/glyphicons-halflings-white.png";

@import "bootstrap-sass/lib/bootstrap";

html, body {
  margin: 20px;
}

/* Put your CSS here
body {
    background: #fafafa;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
}

.hero-unit {
    margin: 50px auto 0 auto;
    width: 300px;
    font-size: 18px;
    font-weight: 200;
    line-height: 30px;
    background-color: #eee;
    border-radius: 6px;
    padding: 60px;
}

.hero-unit h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
}
*/

.table-none th, .table-none td {
    border: 0 !important;
}

.navp {
    margin-top:10px
}

.log-in {
   margin-top: 1em; 
}

#login-carousel {
    margin-top: 20px;
}

.carousel-inner {
    width: 100%;
    overflow: hidden;
}

#login-carousel .carousel-inner img {
    width: 100%;
    margin: -15% 0 -20% 0;
}

#main-carousel .carousel-inner img {
    width: 100%;
    margin: -20% 0 -35% 0;
}

.survey-box {
    min-height: 250px !important;
}

.survey-button-box {
    text-align: center;
}

.survey-button-box button{
    margin: 20px auto;
}

.accordion-toggle {
    background: #F5F5F5;
}

.inner-accordion {
    margin-left: 20px;
}

.inner-accordion .accordion-toggle {
    background: #F5F5FF
}

.modal.fade {
    top: -50% !important;
}

.modal-photo {
    max-height: 400px;
}

.permit-list {
    display: block; 
    position: static; 
    margin-bottom: 5px; 
    width: 100%;
    min-width: 73px !important;
}

tbody {
    display: table-row-group;
    overflow-y: auto;
}

.fixed-table-container {
    max-height: 250px;
    position: relative;
    padding-top: 30px;
    margin-bottom: 20px;
    border-radius: 4px;
    border: 1px solid #DDDDDD;
    min-width: 485px;
}

.header-background {
    position: absolute;
    height: 30px;
}

.fixed-table-container-inner {
    overflow-x: hidden;
    overflow-y: auto;
    max-height: 250px;          /*Must match .fixed-table-container*/
    border-top: 1px solid #DDDDDD;
}

.fixed-table-container-inner table{
    max-height: 100%;
    border-left: none;
    border-top: none;
    border-right: none;
    border-bottom: none;
}

.table th {
    padding: 0 4px;
}

.th-inner {
    position: absolute;
    top: 0;
    line-height: 30px;
    text-align: left;
    margin-left: -5px;
    border-left: 1px solid #DDDDDD;
    padding-left: 5px;
}

.first .th-inner {
    border-left: none;
    padding-left: 6px;
}

.first {
    border-left: none !important;
}

.fixed-table-container td.sample-id {
    min-width: 20px;
    border-left: none;
}

.fixed-table-container td.date {
    min-width: 75px;
}

.fixed-table-container td.water-name {
    min-width: 70px;
}

.fixed-table-container td.species {
    min-width: 50px;
}

.fixed-table-container td.photo {
    min-width: 42px;
}

.fixed-table-container td.length {
    min-width: 70px;
}

.fixed-table-container td.weight {
    min-width: 60px;
}

.fixed-table-container td.edit {
    min-width: 42px;
}

#obs-details-table {
    margin-bottom: 0 !important;
}

#surveyModal {
    display: none;
}

#select-observations {
    width: 100%;
}

#desktop-survey-modal-header {
    visibility: visible;
    left: 20px;
    position: absolute;
}

#mobile-survey-modal-header {
    visibility: hidden;
}

.modal-footer .logout-btn {
    visibility: hidden;
    width: 0;
}

.modal-footer .close-btn {
    visibility: visible;
    width: 30%;
    min-width: 75px;
}

.navbar-dropdown {
    float: none;
    padding: 10px 15px 10px;
    color: #777777;
    text-decoration: none !important;
    text-shadow: 0 1px 0 white;
    display: block;
    cursor: pointer;
}

.navbar-dropdown:hover {
  color: #333333;
}

.action-buttons {
  margin: 0 !important;
}

#help-contents {
  margin: 15px 15px 25px 15px;
}

.help-well {
  padding: 50px;
}

.help-well h5 {
  padding-top: 40px;
}