/*
#surveyModal {
    visibility: visible;
    display: block !important;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1050;
    opacity: 1;
}

.close {
    visibility: hidden;
}

.modal-title {
    height: 15px;
}

.modal-footer .close-btn {
    visibility: hidden;
    width: 0;
}

.modal-footer .logout-btn {
    visibility: visible;
    width: 30%;
    min-width: 75px;
}

.survey-box {
    visibility: hidden;
}

#page-content {
    visibility: hidden;
    height: 0;
}

.navbar {
    visibility: hidden;
}

.row-fluid {
    height: 0;
}

#desktop-survey-modal-header {
    visibility: hidden;
}

#mobile-survey-modal-header {
    visibility: visible;
    left: 20px;
    position: absolute;
}
*/

#yukon-details {
    visibility: hidden;
}

#ak-details {
    visibility: hidden;
}

.nav-username {
    margin-top: 7px;
}

.navbar .nav>li>a,
.navbar .nav>li>span,
.navbar-btn {
    padding: 7px 2px 7px 1px;
}

.navbar .brand {
    padding: 7px 0 7px 23px;
}

.navbar-inner {
    padding: 10px 10px 0;
}

#page-content {
    padding: 0;
}